<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-align-items-center" class="mycard">
          <ion-card-header>
            <ion-card-title>TextRecognition</ion-card-title>
          </ion-card-header>
          <input
            type="file"
            id="inputimage"
            accept="image/png, image/jpeg"
            (change)="fileChangeChange($event)"
            hidden
          />

          <ion-row>
            <ion-col style="text-align: center; justify-content: center">
              <img [src]="image" />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button
                expand="block"
                (click)="onClickInput()"
                color="success"
              >
                เลือกรูป
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center; justify-content: center">
              <ion-button (click)="onClickTextRec()" shape="round">
                Call Plugin
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center; justify-content: center">
              <ion-label>Result: </ion-label>
              <span>{{ result }}</span>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-align-items-center" class="mycard">
          <ion-card-header>
            <ion-card-title>FaceDetection</ion-card-title>
          </ion-card-header>
          <input
            type="file"
            id="inputFaceDetec"
            accept="image/png, image/jpeg"
            (change)="fileFaceDetecChange($event)"
            hidden
          />

          <ion-row>
            <ion-col style="text-align: center; justify-content: center">
              <img [src]="imageFaceDetec" />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button
                expand="block"
                (click)="onClickInputFaceDetec()"
                color="success"
              >
                เลือกรูปหน้า
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center; justify-content: center">
              <ion-button (click)="onClickFaceDetec()" shape="round">
                Call Plugin FaceDetec
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center; justify-content: center">
              <ion-label>Result: </ion-label>
              <span>{{ resultFaceDetec }}</span>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-align-items-center" class="mycard">
          <ion-card-header>
            <ion-card-title>FaceVerification</ion-card-title>
          </ion-card-header>
          <input
            type="file"
            id="inputFaceVerifiTem"
            accept="image/png, image/jpeg"
            (change)="fileFaceVerifiTemChange($event)"
            hidden
          />
          <input
            type="file"
            id="inputFaceVerifiCom"
            accept="image/png, image/jpeg"
            (change)="fileFaceVerifiComChange($event)"
            hidden
          />

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col style="text-align: center; justify-content: center">
                  <img style="max-height: 300px;" [src]="imageVerifiTem" />
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button
                    expand="block"
                    (click)="onClickInputFaceVerifiTem()"
                    color="success"
                  >
                    รูป Template
                  </ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col style="text-align: center; justify-content: center">
                  <img style="max-height: 300px;" [src]="resultPicVerifiTem" />
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col style="text-align: center; justify-content: center">
                  <img style="max-height: 300px;" [src]="imageVerifiCom" />
                </ion-col>
              </ion-row>

              <ion-row>
            

                <ion-col>
                  <ion-button
                    expand="block"
                    (click)="onClickInputFaceVerifiCom()"
                    color="success"
                  >
                    รูป Compare
                  </ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col style="text-align: center; justify-content: center">
                  <img style="max-height: 300px;" [src]="resultPicVerifiCom" />
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          

          

          <ion-row>
            <ion-col style="text-align: center; justify-content: center">
              <ion-button (click)="onClickFaceVerification()" shape="round">
                Call Plugin FaceVerification
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <p>Status:  {{ resultFaceVerification.status }}</p>
              <p>Location:  {{ resultFaceVerification.location }}</p>
              <p>ID:  {{ resultFaceVerification.id }}</p>
              <p>Similarity:  {{ resultFaceVerification.similarity }}</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
